{{! Gear Tab }}
<section class='tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  {{!-- Weapons Section --}}
  <ol class='items-list'>
    <li class='item flexrow items-header' data-gear-type='weapon'>
      <div class='item-name'>{{localize 'TYPES.Item.weapon'}}</div>
      <div class='item-formula'>{{localize 'LORE.Item.Weapon.FIELDS.damageDice.label'}}</div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a class='item-control item-create' title='Create item' data-action='createDoc' data-document-class='Item' data-type='weapon'>
            <i class='fas fa-plus'></i>
            {{localize 'DOCUMENT.New' type='weapon'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each weapons as |item id|}}
      <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
        <div class='item-name'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='item-formula item-prop'>{{item.system.formula}}</div>
      </li>
    {{/each}}
  </ol>

  {{!-- Misc Gear Section --}}
  <ol class='items-list'>
    <li class='item flexrow items-header' data-gear-type='gear'>
      <div class='item-name'>{{localize 'TYPES.Item.gear'}}</div>
      <div class='item-formula'></div>
      <div class='item-controls'>
        {{#if @root.editable}}
          <a class='item-control item-create' title='Create item' data-action='createDoc' data-document-class='Item' data-type='gear'>
            <i class='fas fa-plus'></i>
            {{localize 'DOCUMENT.New' type='gear'}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each gear as |item id|}}
      <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
        <div class='item-name'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
      </li>
    {{/each}}
  </ol>

</section>