{{! Gear Tab }}
<section class='tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  <div class="gear-content">
    {{!-- Sub-tabs navigation for Gear --}}
    <nav class='tabs sub-tabs' data-group='gear-sub'>
      <a class='item active' data-tab='list'>List</a>
      <a class='item' data-tab='paper-doll'>Paper Doll</a>
    </nav>

    {{!-- LIST SUB-TAB --}}
    <section class='sub-tab list active' data-group='gear-sub' data-tab='list'>
    {{!-- Weapons Section --}}
    <ol class='items-list items-weapons'>
      <li class='item flexrow items-header' data-gear-type='weapon'>
        <div class='item-name'>{{localize 'TYPES.Item.weapon'}}</div>
        <div class='item-formula'>Roll</div>
        <div class='item-mod'>Mod (Attr)</div>
        <div class='item-range'>Range</div>
      </li>
      {{#each weapons as |item id|}}
        <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
          <div class='item-name'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='roll'>
                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div class='item-formula item-prop'>{{item.system.formula}}</div>
          {{!-- Modifier and attribute source --}}
          {{#if (eq item.system.weaponType 'ranged')}}
            {{!-- Ranged uses Reflex (ref) --}}
            <div class='item-mod item-prop'>
              {{@root.actor.system.attributes.ref.mod}}
              ({{localize (lookup @root.config.attributeAbbreviations 'ref')}})
            </div>
            {{!-- Range bands for ranged --}}
            <div class='item-range item-prop'>
              {{#with item.system.range as |r|}}
                {{r.short}}/{{r.medium}}/{{r.long}} {{#if r.units}}{{r.units}}{{/if}}
              {{/with}}
            </div>
          {{else}}
            {{!-- Melee uses Might (mig) --}}
            <div class='item-mod item-prop'>
              {{@root.actor.system.attributes.mig.mod}}
              ({{localize (lookup @root.config.attributeAbbreviations 'mig')}})
            </div>
            <div class='item-range item-prop'>
              {{#if item.system.range.reach}}
                Reach {{item.system.range.reach}} {{item.system.range.units}}
              {{/if}}
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>

    {{!-- Armor Section (grouped by armorType) --}}
    {{!-- Top-level Armor header is always shown; sublists render only if they have items --}}
    <ol class='items-list items-armor'>
      <li class='item flexrow items-header' data-gear-type='armor'>
        <div class='item-name'>{{localize 'TYPES.Item.armor'}}</div>
      </li>
      {{!-- Head Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-head'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.head'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.head as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Body Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-body'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.body'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.body as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Arms Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-arms'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.arms'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.arms as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Hands Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-hands'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.hands'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.hands as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Legs Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-legs'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.legs'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.legs as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Feet Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-feet'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.feet'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.feet as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-name'>
                <div class='item-image'>
                  <a class='item-control'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                  </a>
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>
    </ol>

    {{!-- Misc Gear Section --}}
    <ol class='items-list'>
      <li class='item flexrow items-header' data-gear-type='gear'>
        <div class='item-name'>{{localize 'TYPES.Item.gear'}}</div>
        <div class='item-formula'></div>
      </li>
      {{#each gear as |item id|}}
        <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
          <div class='item-name'>
            <div class='item-image'>
              <a class='item-control'>
                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
        </li>
      {{/each}}
    </ol>
    </section>

    {{!-- PAPER DOLL SUB-TAB --}}
    <section class='sub-tab paper-doll' data-group='gear-sub' data-tab='paper-doll'>
      <div class='paper-doll-placeholder' style='opacity:0.7; text-align:center; padding: 1rem;'>
        Paper Doll coming soon
      </div>
    </section>
  </div>
</section>