{{! Gear Tab }}
<section class='tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  <div class="gear-content">
    {{!-- Sub-tabs navigation for Gear --}}
    <nav class='tabs sub-tabs' data-group='gear-sub'>
      <a class='item active' data-tab='list'>List</a>
      <a class='item' data-tab='paper-doll'>Paper Doll</a>
    </nav>

    {{!-- LIST SUB-TAB --}}
    <section class='sub-tab list active' data-group='gear-sub' data-tab='list'>
    {{!-- Weapons Section --}}
    <ol class='items-list items-weapons'>
      <li class='item flexrow items-header' data-gear-type='weapon'>
        <div class='item-equip'></div>
        <div class='item-name'>{{localize 'TYPES.Item.weapon'}}</div>
        <div class='item-formula'>Roll</div>
        <div class='item-mod'>Mod (Attr)</div>
        <div class='item-range'>Range</div>
      </li>
      {{#each weapons as |item id|}}
        <li class='item flexrow weapon-row' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
          {{#if (eq item.system.handedness 'two')}}
            {{!-- Two-handed weapons use a simple equip checkbox --}}
            <div class='item-equip'>
              <label>
                <input
                  type='checkbox'
                  name='system.equipped'
                  {{#if (eq item.id @root.actor.system.equippedWeapons.mainhand)}}checked{{/if}}
                  {{#if (eq item.id @root.actor.system.equippedWeapons.offhand)}}checked{{/if}}
                />
                <span class='custom-circle'></span>
              </label>
            </div>
          {{else}}
            {{!-- One-handed weapons open a context menu to select hand; fill when equipped in any hand --}}
            <div class='item-equip' data-action='weapon-equip-context' data-item-id='{{item.id}}'>
              <label>
                <span class='custom-circle 
                  {{#if (eq item.id @root.actor.system.equippedWeapons.mainhand)}}checked mainhand{{/if}} 
                  {{#if (eq item.id @root.actor.system.equippedWeapons.offhand)}}checked offhand{{/if}}'></span>
              </label>
            </div>
          {{/if}}
          <div class='item-name'>
            <div class='item-image'>
              <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </div>
            <label
              class='weapon-skill-roll roll-summary align-left'
              data-item-id='{{item.id}}'
              data-weapon-type='{{item.system.weaponType}}'
              style='cursor:pointer;user-select:none;'
            >
              {{item.name}}
            </label>
          </div>
          <a class='rollable item-formula item-prop' data-roll-type='item' data-action='roll'>
              {{!-- Display D6LOREIcon.svg for each damage die --}}
              <span class="weapon-dice-icons">
                {{item.system.damageFormula}}
              </span>
          </a>

          {{!-- Modifier display: Melee shows Might + additional, Ranged shows additional only --}}
          {{#if (eq item.system.weaponType 'ranged')}}
            <div class='item-mod item-prop'></div>
          {{else}}
            <div class='item-mod item-prop' title='Might: {{@root.actor.system.attributes.mig.mod}}'>
              {{item.displayAttackModSigned}}
            </div>
          {{/if}}
          {{!-- Range display varies by type --}}
          {{#if (eq item.system.weaponType 'ranged')}}
            <div class='item-range item-prop'>
              {{#with item.system.range as |r|}}
                {{r.short}}/{{r.medium}}/{{r.long}} {{#if r.units}}{{r.units}}{{/if}}
              {{/with}}
            </div>
          {{else}}
            <div class='item-range item-prop'>
              {{#if item.system.range.reach}}
                Reach {{item.system.range.reach}} {{item.system.range.units}}
              {{/if}}
            </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>

    {{!-- Armor Section (grouped by armorType) --}}
    <ol class='items-list items-armor'>
      <li class='item flexrow items-header' data-gear-type='armor'>
        <div class='item-name'>{{localize 'TYPES.Item.armor'}}</div>
      </li>
      {{!-- Head Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-head'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.head'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.head as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Body Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-body'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.body'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.body as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Arms Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-arms'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.arms'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.arms as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Hands Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-hands'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.hands'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.hands as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Legs Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-legs'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.legs'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.legs as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>

      {{!-- Feet Armor --}}
      <li class='items-sublist'>
        <ol class='items-list items-armor-sub'>
          <li class='item flexrow items-sub-header' data-gear-type='armor-feet'>
            <div class='item-name'>{{localize 'LORE.Item.Armor.Types.feet'}}</div>
            <div class='item-armor align-right'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</div>
          </li>
          {{#each armorByType.feet as |item id|}}
            <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
              <div class='item-equip'>
                <label>
                  <input
                    type='checkbox'
                    data-item-id='{{item.id}}'
                    name='system.equipped'
                    {{#if item.system.equipped}}checked{{/if}}
                  /><span class='custom-circle'></span>
                </label>
              </div>
              <div class='item-name'>
                <div class='item-image'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </div>
                <div>{{item.name}}</div>
              </div>
              <div class='item-armor align-center'>
                {{item.system.armorValue}}
              </div>
            </li>
          {{/each}}
        </ol>
      </li>
    </ol>

    {{!-- Misc Gear Section --}}
    <ol class='items-list'>
      <li class='item flexrow items-header' data-gear-type='gear'>
        <div class='item-name'>{{localize 'TYPES.Item.gear'}}</div>
        <div class='item-formula'></div>
      </li>
      {{#each gear as |item id|}}
        <li class='item flexrow' data-item-id='{{item.id}}' data-drag='true' data-document-class='Item'>
          <div class='item-name'>
            <div class='item-image'>
              <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </div>
            <div>{{item.name}}</div>
          </div>
        </li>
      {{/each}}
    </ol>
    </section>

    {{!-- PAPER DOLL SUB-TAB --}}
    <section class='sub-tab paper-doll' data-group='gear-sub' data-tab='paper-doll'>
      <div class="paper-doll-with-summary">
        <div class="paper-doll-absolute-layout">
        <div class='paper-doll-slots'>
          <div class="slot slot-head">
          {{#if equipped.head}}
            <img src="{{equipped.head.img}}" alt="{{equipped.head.name}}" width="50" height="50" title="{{equipped.head.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Head" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-body">
          {{#if equipped.body}}
            <img src="{{equipped.body.img}}" alt="{{equipped.body.name}}" width="50" height="50" title="{{equipped.body.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Body" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-arms">
          {{#if equipped.arms}}
            <img src="{{equipped.arms.img}}" alt="{{equipped.arms.name}}" width="50" height="50" title="{{equipped.arms.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Arms" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-hands">
          {{#if equipped.hands}}
            <img src="{{equipped.hands.img}}" alt="{{equipped.hands.name}}" width="50" height="50" title="{{equipped.hands.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Hands" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-legs">
          {{#if equipped.legs}}
            <img src="{{equipped.legs.img}}" alt="{{equipped.legs.name}}" width="50" height="50" title="{{equipped.legs.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Legs" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-feet">
          {{#if equipped.feet}}
            <img src="{{equipped.feet.img}}" alt="{{equipped.feet.name}}" width="50" height="50" title="{{equipped.feet.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Feet" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-mainhand">
          {{#if equipped.mainhand}}
            <img src="{{equipped.mainhand.img}}" alt="{{equipped.mainhand.name}}" width="50" height="50" title="{{equipped.mainhand.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Mainhand" width="50" height="50" />
          {{/if}}
        </div>
        <div class="slot slot-offhand">
          {{#if equipped.offhand}}
            <img src="{{equipped.offhand.img}}" alt="{{equipped.offhand.name}}" width="50" height="50" title="{{equipped.offhand.name}}" />
          {{else}}
            <img src="/icons/svg/shield.svg" alt="Offhand" width="50" height="50" />
          {{/if}}
        </div>
        </div>
      </div>
      <div class="armor-summary">
        <div class="armor-summary-title">{{localize 'TYPES.Item.armor'}}</div>
        <ul class="armor-summary-list">
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.head'}}</span>
            <span class="item-name">{{#if equipped.head}}{{equipped.head.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.head}}</span>
          </li>
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.body'}}</span>
            <span class="item-name">{{#if equipped.body}}{{equipped.body.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.body}}</span>
          </li>
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.arms'}}</span>
            <span class="item-name">{{#if equipped.arms}}{{equipped.arms.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.arms}}</span>
          </li>
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.hands'}}</span>
            <span class="item-name">{{#if equipped.hands}}{{equipped.hands.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.hands}}</span>
          </li>
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.legs'}}</span>
            <span class="item-name">{{#if equipped.legs}}{{equipped.legs.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.legs}}</span>
          </li>
          <li>
            <span class="label">{{localize 'LORE.Item.Armor.Types.feet'}}</span>
            <span class="item-name">{{#if equipped.feet}}{{equipped.feet.name}}{{else}}-{{/if}}</span>
            <span class="value">{{armorSummary.feet}}</span>
          </li>
        </ul>
      </div>
      </div>
    </section>
  </div>
</section>