{{! Sheet Header }}
<header class='sheet-header grid grid-6col'>
  <div class='left-header flexcol flex-center grid-span-1'>
    <img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      data-action='onEditImage'
      title='{{actor.name}}'
      height='100'
      width='100'
    />
    <label for='system.level' class='resource-label'>
      {{localize 'LORE.Actor.base.FIELDS.level.label'}}
    </label>
    <div class='resource-content flexrow flex-center flex-between'>
      <input
        type='text'
        name='system.level'
        value='{{system.level.value}}'
        data-dtype='Number'
        class='center-text'
      />
    </div>
  </div>
  <div class='header-fields grid-span-3'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>
  <div class='resources grid grid-9col center-text'>
      <div class='resource flexcol flex-center grid-span-3'>
        <label for='system.wounds.value' class='resource-label center-text'>
          {{localize 'LORE.Actor.base.FIELDS.wounds.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between grid-span-3 center-text'>
          <input type='text' name='system.wounds.value' value='{{system.wounds.value}}' data-dtype='Number' class='center-text'/>
          <span> / </span>
          <label for='system.wounds.max' class='resource-label'>{{system.wounds.max}}</label>
        </div>
      </div>
      <div class='resource flexcol flex-center grid-span-3'> 
        <div class='resource flexcol flex-center grid grid-3col'>
          <div class='resource flexcol flex-center grid-span-1'>
            <!-- Unconscious Checkbox -->
            <label for='system.unconscious' class='resource-label' style='margin-right: 1em;'>
              {{localize 'LORE.Actor.base.FIELDS.unconscious.label'}}
              <input
                type='checkbox'
                name='system.unconscious'
                {{#if system.unconscious}}checked{{/if}}
                style='vertical-align: middle; margin-left: 0.25em;'
              />
            </label>
          </div>
          <div class='resource flexcol flex-center grid-span-1'>
            <!-- Stunned Checkbox (centered) -->
              <label for='system.stunned' class='resource-label' style='margin: 0 1em;'>
                {{localize 'LORE.Actor.base.FIELDS.stunned.label'}}
                <input
                  type='checkbox'
                  name='system.stunned'
                  {{#if system.stunned}}checked{{/if}}
                  style='vertical-align: middle; margin-left: 0.25em;'
                />
              </label>
          </div>
          <div class='resource flexcol flex-center grid-span-1'>
            <!-- Incapacitated Checkbox, flipped layout -->
          <label for='system.incapacitated' class='resource-label' style='margin-left: 1em;'>
            {{localize 'LORE.Actor.base.FIELDS.incapacitated.label'}}
            <input
              type='checkbox'
              name='system.incapacitated'
              {{#if system.incapacitated}}checked{{/if}}
              style='vertical-align: middle; margin-left: 0.25em;'
            />
          </label>
          </div>
          <div class='resource flexcol flex-center grid-span-3'>
            
          </div>
        </div>
      </div>
      <div class='resource flexcol flex-center grid-span-3'>
        <label for='system.fatigue.value' class='resource-label'>
          {{localize 'LORE.Actor.base.FIELDS.fatigue.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.fatigue.value'
            value='{{system.fatigue.value}}'
            data-dtype='Number' class='center-text'
          />
          <span> / </span>
          <label for='system.fatigue.max' class='resource-label'>{{system.fatigue.max}}</label>
        </div>
      </div>
    </div>
  </div>
</header>