{{! Magicks Tab }}
<section
  class='tab magicks {{tab.cssClass}}'
  data-group='primary'
  data-tab='magicks'
>
  <ol class='items-list'>
    {{#each magicks as |magicks magickLevel|}}
      <li class='item flexrow items-header'>
        <div class='item-name'>
          {{localize 'LORE.Item.Magick.MagickLVL' level=magickLevel}}
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
            <a
              class='item-control item-create'
              title='{{localize "DOCUMENT.Create" type='Magick'}}'
              data-action='createDoc'
              data-document-class='Item'
              data-type='magick'
              data-system.magick-level='{{magickLevel}}'
            >
              <i class='fas fa-plus'></i>
              {{localize 'LORE.Item.Magick.AddLVL' level=magickLevel}}
            </a>
          {{/if}}
        </div>
      </li>
      {{#each magicks as |item id|}}
        <li
          class='item flexrow'
          data-item-id='{{item._id}}'
          data-drag='true'
          data-document-class='Item'
        >
          <div class='item-name flexrow'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='roll'>
                <img
                  src='{{item.img}}'
                  title='{{item.name}}'
                  width='24'
                  height='24'
                />
              </a>
            </div>
            <div>{{item.name}}</div>
          </div>
          <div class='item-controls'>
            <a
              class='item-control item-edit'
              title='{{localize "DOCUMENT.Update" type='magick'}}'
              data-action='viewDoc'
            >
              <i class='fas fa-edit'></i>
            </a>
            {{#if @root.editable}}
              <a
                class='item-control item-delete'
                title='{{localize "DOCUMENT.Delete" type='magick'}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    {{/each}}
  </ol>

</section>