{{! Skills Tab }}
<section
  class='tab skills {{tab.cssClass}}'
  data-group='primary'
  data-tab='skills'
>
  <ol class='items-list'>
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-formula'>Roll</div>
      <div class='item-controls'></div>
    </li>

    {{#each skills as |item id|}}
      <li
        class='item flexrow'
        data-item-id='{{item.id}}'
        data-drag='true'
        data-document-class='Item'
      >
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-roll-type='item' data-action='roll'>
              <img
                src='{{#if item.img}}{{item.img}}{{else}}icons/svg/mystery-man.svg{{/if}}'
                title='{{item.name}}'
                width='24'
                height='24'
              />
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class='item-formula item-prop roll-summary align-right'>
          {{!-- Similar to attributes: Xd6 +/- tied attribute mod (Untrained = -3). Pawn extra die not shown here. --}}
          {{item.system.rank.value}}d6
          {{#if (eq item.name 'Untrained')}}
            {{numberFormat -3 decimals=0 sign=true}}
          {{else}}
            {{#with (lookup @root.system.attributes item.system.tiedAttribute) as |attr|}}
              {{numberFormat attr.mod decimals=0 sign=true}}
            {{/with}}
          {{/if}}
        </div>
        {{!-- Controls moved to context menu --}}
      </li>
    {{/each}}
  </ol>
</section>