{{! Armor Details Tab }}
<section class='tab details {{tab.cssClass}}' data-group='primary' data-tab='details'>
	<div class='resource'>
		<div class='grid grid-4col'>
			<div class='item-options grid-span-1'>
				<label class='resource-label'>{{localize 'LORE.Item.Armor.FIELDS.type.label'}}</label>
				<select class='resource-select' name='system.armorType'>
					<option value='head'  {{#if (eq system.armorType 'head')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.head'}}</option>
					<option value='body'  {{#if (eq system.armorType 'body')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.body'}}</option>
					<option value='arms'  {{#if (eq system.armorType 'arms')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.arms'}}</option>
					<option value='hands' {{#if (eq system.armorType 'hands')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.hands'}}</option>
					<option value='legs'  {{#if (eq system.armorType 'legs')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.legs'}}</option>
					<option value='feet'  {{#if (eq system.armorType 'feet')}}selected{{/if}}>{{localize 'LORE.Item.Armor.Types.feet'}}</option>
				</select>
			</div>
					<div class='item-options grid-span-1'>
						<label class='resource-label'>{{localize 'LORE.Item.Armor.FIELDS.value.label'}}</label>
						<input class='resource-input' type='number' name='system.armorValue' value='{{system.armorValue}}' data-dtype='Number' min='0' />
					</div>
		</div>
	</div>
</section>
