{{! Details Tab }}
<section
  class='tab details {{tab.cssClass}}'
  data-group='primary'
  data-tab='details'
>
  <div class="form-group">
    <label for="system.rank.value">{{localize 'LORE.Item.Skill.Rank'}}</label>
    <input type="number" name="system.rank.value" value="{{system.rank.value}}" min="1" max="{{system.rank.max}}"/>
  </div>

  <div class="form-group">
    <label for="system.tiedAttribute">{{localize 'LORE.Item.Skill.Attribute'}}</label>
    <select name="system.tiedAttribute" id="system.tiedAttribute">
      {{#each config.attributeTypes as |type key|}}
        <option value="{{key}}" {{#if (eq ../system.tiedAttribute key)}}selected{{/if}}>
          {{localize (lookup ../config.attributes key)}}
        </option>
      {{/each}}
    </select>
  </div>
</section>