{{! Weapon Details Tab }}
<section class='tab details {{tab.cssClass}}' data-group='primary' data-tab='details'>
  <div class='resource'>
    <div class='grid grid-4col'>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.type.label'}}</label>
        <select class='resource-select' name='system.weaponType'>
          <option value='melee' {{#if (eq system.weaponType 'melee')}}selected{{/if}}>{{localize 'LORE.Item.Weapon.Types.melee'}}</option>
          <option value='ranged' {{#if (eq system.weaponType 'ranged')}}selected{{/if}}>{{localize 'LORE.Item.Weapon.Types.ranged'}}</option>
        </select>
      </div>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.handedness.label'}}</label>
        <select class='resource-select' name='system.handedness'>
          <option value='one' {{#if (eq system.handedness 'one')}}selected{{/if}}>One Handed</option>
          <option value='two' {{#if (eq system.handedness 'two')}}selected{{/if}}>Two Handed</option>
        </select>
      </div>
      <div class='grid-span-1'>
        <label class='weapon-damage-label'>Damage Roll:</label>
        <label class='weapon-roll-formula'>{{system.damageFormula}}</label>
      </div>
    </div>
    {{!-- Show range options only for ranged weapons --}}
    {{#if (eq system.weaponType 'ranged')}}
    <div class='grid grid-4col'>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.range.short.label'}}</label>
        <input class='resource-input' type='number' name='system.range.short' value='{{system.range.short}}' data-dtype='Number' min='0' />
      </div>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.range.medium.label'}}</label>
        <input class='resource-input' type='number' name='system.range.medium' value='{{system.range.medium}}' data-dtype='Number' min='0' />
      </div>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.range.long.label'}}</label>
        <input class='resource-input' type='number' name='system.range.long' value='{{system.range.long}}' data-dtype='Number' min='0' />
      </div>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Weapon.FIELDS.range.units.label'}}</label>
        <input class='resource-input' type='text' name='system.range.units' value='{{system.range.units}}' />
      </div>
    </div>
    {{/if}}
  
    <div class='grid grid-4col'>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.numDice.label'}}</label>
        <input class='resource-input' type='number' name='system.damage.diceNum' value='{{system.damage.diceNum}}' data-dtype='Number' min='0' />
      </div>
      <div class='item-options grid-span-1'>
        <label class='resource-label'>Mod</label>
        <input class='resource-input' type='number' name='system.damage.modifier' value='{{system.damage.modifier}}' data-dtype='Number' />
      </div>
    </div>
  </div>
</section>
