<header class='item-sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{item.name}}'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input class='name-input' name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    
    {{#if (eq item.type 'gear')}}
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.cost.label'}}</label>
          <input
            class='cost-input'
            type='text'
            name='system.cost'
            value='{{system.cost}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.weight.label'}}</label>
          <input
            class='weight-input'
            type='text'
            name='system.weight'
            value='{{system.weight}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.quantity.label'}}</label>
          <input
            class='quantity-input'
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
      </div>
    {{/if}}
    {{#if (eq item.type 'weapon')}}
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.cost.label'}}</label>
          <input
            class='cost-input'
            type='text'
            name='system.cost'
            value='{{system.cost}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>{{localize 'LORE.Item.Gear.FIELDS.weight.label'}}</label>
          <input
            class='weight-input'
            type='text'
            name='system.weight'
            value='{{system.weight}}'
            data-dtype='Number'
          />
        </div>
      </div>
    {{/if}}
    {{#if (eq item.type 'magick')}}
      <div class='grid grid-3col'>
        
      </div>
    {{/if}}
    
    
  </div>
</header>